* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.header {
    text-align: center;
}

.header-profile__title {
    margin: 0;
    margin-top: 9%;
    margin-bottom: 2%;
    font-size: 4em;
}

.header-profile__text {
    margin-bottom: 10%;
    font-size: 1.3em;
}

#profilePic {
    margin-bottom: 4%;
}

.header-about {
    padding: 30px;
    background-color: white;
}

.header-about__title {
    margin-bottom: 2%;
}

.header-about__text {
    text-align: justify;
}

.details {
    margin: 0 auto;
    text-align: center;
}

.details__title {
    margin: 0;
    margin-bottom: 4%;
}

.details__subtitle {
    font-size: 1.3em;
}

.skills {
    padding: 20px;
}

.skills__group {
    margin: 10px 20px;
}

.skills__list {
    margin: 0;
}

/* Extra Large */
/* Styles for screens 1200px and wider */
@media(min-width:1200px) {

    .header {
        margin: 3% auto;
    }
    
}

/* Large */
/* Styles for screens between 992px and 1199px */
@media(min-width:992px) and (max-width:1199px) {

    .header {
        margin: 3% auto;
    }

}

/* Medium */
/* Styles for screens between 768px and 991px */
@media(min-width:768px) and (max-width:991px) {
     
    .header {
        margin: 3% auto;
    }

}

/* Small */
/* Styles for screens between 576px and 767px */
@media(min-width:576px) and (max-width:767px) {
    
}

/* Extra Small */
/* Styles for screens under 575px */
@media(max-width:575px){
    
   }